.swiper-button-prev-custom,
      .swiper-button-next-custom {
        position: absolute !important;
        z-index: 10;
        top: 115%;
        width: 85px;
        height: 37px;
        background: transparent;
        border: none;
        cursor: pointer;
      }
      
      .swiper-button-prev-custom {
        left: -6%; ;
      }
      
      .swiper-button-next-custom {
        right: -6%;
      }
      
      .swiper-button-prev-custom img,
      .swiper-button-next-custom img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      
.swiper-pagination-bullet {
    position: relative;
    width: 10px !important;
    height: 10px !important;
    background-color: #12D6DF  !important;
    background-size: cover;
    background-position: center;
    opacity: 0.5 !important;
  }
  
  .swiper-pagination-bullet-active {
    position: relative;
    width: 12px  !important;
    height: 12px  !important;
    background-color: #12D6DF  !important;
    margin: 2px;
    border-radius: 50%;
    opacity: 1  !important;
  }
  