/* Vector 729 */
.contentPlate{
    position: relative;
    width: 692px;
    height: 394px;
    background-image: url("data:image/svg+xml,%3Csvg width='694' height='394' viewBox='0 0 694 396' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 43.6495V387.6C2 391.135 4.8654 394 8.40002 394H640.654C642.169 394 643.634 393.463 644.79 392.484L689.736 354.417C691.172 353.201 692 351.415 692 349.533V8.4C692 4.86538 689.135 2 685.6 2H54.1785C52.766 2 51.3931 2.46731 50.2739 3.32909L4.4954 38.5785C2.9219 39.7901 2 41.6635 2 43.6495Z' fill='url(%23paint0_linear_367_794)' stroke='%230066FF' stroke-width='2.4'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_367_794' x1='347' y1='2' x2='347' y2='394' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237590EA' stop-opacity='0.4'/%3E%3Cstop offset='1' stop-color='%2300C1FE' stop-opacity='0.8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

/* RESOURCE HUB */
.optionPLate{

    margin: 0 auto;
    width: 265.92px;
    height: 51.11px;
}
.paper{
    width: 230px;
    height:274px;
    background-image: url("data:image/svg+xml,%3Csvg width='230' height='274' viewBox='0 0 230 274' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.4 272H221.6C225.135 272 228 269.135 228 265.6V53L183.5 2H8.4C4.86538 2 2 4.86538 2 8.4V265.6C2 269.135 4.86538 272 8.4 272Z' fill='white' stroke='%230066FF' stroke-width='2.4'/%3E%3C/svg%3E%0A");
}
.ResGrid{
    display: grid;
    grid-template-columns: 3 1fr 3fr 2fr;
    grid-template-rows: 2;
}

linearGradient, .optionButton{
    transition: all 0.5s ease;
}

:root {
    --grad-color1:#0F2A58 ;
    --grad-color2: #330C5E;
    --grad-color3: #12D6DF;
  }

.optionButton, .buttonBody , .sub-option{
    cursor: pointer;
}
  
  .optionButton {
    display: inline-block;
}

stop {
    transition: .4s ease;
}

.optionButton stop:first-child {
    stop-color: #330C5E;
}
.optionButton stop:last-child {
    stop-color: #0F2A58;
}
/* Use the colors to transition to */
.optionButton:hover stop:first-child,.optionButton:hover  stop:last-child  {
    stop-color: #69d8de9b;
}

/*border*/
.optionButton:hover .buttonBody{
    stroke: #12D6DF;
    /* box-shadow: 120px 80px 40px 20px ; */
    filter: drop-shadow( 2px 2px 3px #0ff);
}
.optionButton:hover .TopLeftEle,.optionButton:hover  .BottomRightEle{
    fill: #12D6DF;
}
.optionButton:hover  .TopEle{
    stroke: #12D6DF;
}

.optionButton:hover .buttonBody{
    filter: drop-shadow( 3px 2px 2px #12D6DF);
}

.left-content  li:hover{
    color: #33FCFF;
    text-decoration: underline;
}
/* .right-content{
    width: 25vw;
} */
.sub-option p{
    width: 100%;
    word-wrap:break-word;
    text-decoration: none;
    transition: all 0.4s ease-out 0.1s;
}
.sub-option:hover p{
    text-decoration: underline;
    color: #33FCFF;
    /* transition: color text-decoration  0.4s ease-out 1s; */
}
.arrowDes, .radioHigh{
    opacity: 0;
    transition: all  ease-out 0.6s;
}
.sub-option:hover .arrowDes, .sub-option:hover .radioHigh{
    opacity: 1;
    /* transition: all 0s ease-out 0.2s; */
}
.sub-option:hover .regular-radio{
    opacity: 0;
    transition: all 0s ease-out 0s;
}
.regular-radio{
    opacity: 1;
    transition: all 0s ease-out 0.3s;
}

.dropOption{
    background: rgba(255, 255, 255, 0.056);
    border-radius: 2px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.129);
}
.dropOption:hover{
    translate: -2px -2px;
    background: rgba(20, 20, 58, 0.37);
    filter: drop-shadow( 2px 3px 2px rgb(223, 209, 255));
    color:#0F2A58;
}
/* media queries */
.mobileView{
    visibility: hidden;
    position: absolute;
}
.desktopView{
    visibility: visible;
    position: relative;
}

@media (min-width:300px) and (max-width: 350px)  {
    .contentPlate{
        width: 100%;
        scale: 0.85;
        background-image: url("data:image/svg+xml,%3Csvg width='300' height='600' viewBox='0 0 300 698' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M354.153 696H8.39999C4.86539 696 2 693.135 2 689.6V53.6288C2 52.1148 2.53671 50.6498 3.5148 49.4942L41.7944 4.26538C43.0104 2.82861 44.7973 1.99994 46.6796 1.99994H389.6C393.135 1.99994 396 4.86536 396 8.40002V643.533C396 644.945 395.533 646.317 394.672 647.436L359.225 693.503C358.013 695.077 356.139 696 354.153 696Z' fill='url(%23paint0_linear_999_1203)' stroke='%230066FF' stroke-width='2.4'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_999_1203' x1='396' y1='349' x2='2' y2='349' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237590EA' stop-opacity='0.4'/%3E%3Cstop offset='1' stop-color='%2300C1FE' stop-opacity='0.8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");        /* transform: rotate(-90deg); */

    }
}
@media (min-width:350px)and (max-width: 370px) {
    .contentPlate{
        scale: 0.90;
        background-image: url("data:image/svg+xml,%3Csvg width='350' height='630' viewBox='0 0 398 698' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M354.153 696H8.39999C4.86539 696 2 693.135 2 689.6V53.6288C2 52.1148 2.53671 50.6498 3.5148 49.4942L41.7944 4.26538C43.0104 2.82861 44.7973 1.99994 46.6796 1.99994H389.6C393.135 1.99994 396 4.86536 396 8.40002V643.533C396 644.945 395.533 646.317 394.672 647.436L359.225 693.503C358.013 695.077 356.139 696 354.153 696Z' fill='url(%23paint0_linear_999_1203)' stroke='%230066FF' stroke-width='2.4'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_999_1203' x1='396' y1='349' x2='2' y2='349' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237590EA' stop-opacity='0.4'/%3E%3Cstop offset='1' stop-color='%2300C1FE' stop-opacity='0.8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");        /* transform: rotate(-90deg); */

    }
}
@media (min-width:370px) and (max-width: 400px) {
    .contentPlate{
        scale: 0.95;
    }
}
@media (max-width: 853px) {
    .mobileView{
        visibility: visible;
        position: relative;
    }
    .desktopView{
        visibility: hidden;
        position: absolute;
    }
    
    .contentPlate{
        position: relative;
        margin-top: 50px;
        /* scale: 0.95; */
        width: 100%;
        height: 100%;
        align-items: center;
        color: red;
        flex-direction: column;
        gap:24px;
        /* width: 320px;
        height: 720px; */
        background-position: 50% 50%;
        background-repeat:no-repeat ;
        background-image: url("data:image/svg+xml,%3Csvg width='390' height='630' viewBox='0 0 398 698' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M354.153 696H8.39999C4.86539 696 2 693.135 2 689.6V53.6288C2 52.1148 2.53671 50.6498 3.5148 49.4942L41.7944 4.26538C43.0104 2.82861 44.7973 1.99994 46.6796 1.99994H389.6C393.135 1.99994 396 4.86536 396 8.40002V643.533C396 644.945 395.533 646.317 394.672 647.436L359.225 693.503C358.013 695.077 356.139 696 354.153 696Z' fill='url(%23paint0_linear_999_1203)' stroke='%230066FF' stroke-width='2.4'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_999_1203' x1='396' y1='349' x2='2' y2='349' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237590EA' stop-opacity='0.4'/%3E%3Cstop offset='1' stop-color='%2300C1FE' stop-opacity='0.8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");        /* transform: rotate(-90deg); */
    }
    .paper{
        scale: 0.95;
        margin-left: -10px;
      }
}
@media (min-width: 853px) {
    
}
        

@media (min-width: 853px) and (max-width: 1200px) {
    .contentPlate {
        /* margin: -105px;
        scale: 0.8;
        margin-top: -60px; */
        width: 528px;
        height: 300px;
        /* scale: 0.73; */
        background-image: url("data:image/svg+xml,%3Csvg width='528' height='300' viewBox='0 0 694 396' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 43.6495V387.6C2 391.135 4.8654 394 8.40002 394H640.654C642.169 394 643.634 393.463 644.79 392.484L689.736 354.417C691.172 353.201 692 351.415 692 349.533V8.4C692 4.86538 689.135 2 685.6 2H54.1785C52.766 2 51.3931 2.46731 50.2739 3.32909L4.4954 38.5785C2.9219 39.7901 2 41.6635 2 43.6495Z' fill='url(%23paint0_linear_367_794)' stroke='%230066FF' stroke-width='2.4'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_367_794' x1='347' y1='2' x2='347' y2='394' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237590EA' stop-opacity='0.4'/%3E%3Cstop offset='1' stop-color='%2300C1FE' stop-opacity='0.8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        /* background-image: url("data:image/svg+xml,%3Csvg width='694' height='394' viewBox='0 0 694 396' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 43.6495V387.6C2 391.135 4.8654 394 8.40002 394H640.654C642.169 394 643.634 393.463 644.79 392.484L689.736 354.417C691.172 353.201 692 351.415 692 349.533V8.4C692 4.86538 689.135 2 685.6 2H54.1785C52.766 2 51.3931 2.46731 50.2739 3.32909L4.4954 38.5785C2.9219 39.7901 2 41.6635 2 43.6495Z' fill='url(%23paint0_linear_367_794)' stroke='%230066FF' stroke-width='2.4'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_367_794' x1='347' y1='2' x2='347' y2='394' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237590EA' stop-opacity='0.4'/%3E%3Cstop offset='1' stop-color='%2300C1FE' stop-opacity='0.8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); */
    
    }
    .resHubText{
        scale: 0.95;
    }
    .contentPlate > * {
        margin-left: -20px;
        scale: 0.77;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .contentPlate {
        /* margin-top: 0px; */
         width: 692px;
        height: 394px;
        scale: 1;
        background-image: url("data:image/svg+xml,%3Csvg width='694' height='394' viewBox='0 0 694 396' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 43.6495V387.6C2 391.135 4.8654 394 8.40002 394H640.654C642.169 394 643.634 393.463 644.79 392.484L689.736 354.417C691.172 353.201 692 351.415 692 349.533V8.4C692 4.86538 689.135 2 685.6 2H54.1785C52.766 2 51.3931 2.46731 50.2739 3.32909L4.4954 38.5785C2.9219 39.7901 2 41.6635 2 43.6495Z' fill='url(%23paint0_linear_367_794)' stroke='%230066FF' stroke-width='2.4'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_367_794' x1='347' y1='2' x2='347' y2='394' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237590EA' stop-opacity='0.4'/%3E%3Cstop offset='1' stop-color='%2300C1FE' stop-opacity='0.8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    
}
@media (min-width: 1400px) {
    .contentPlate {
        margin-left: -20px;
        /* margin-top: 30px; */
         width: 692px;
        height: 394px;
        /* scale: 1.1; */
        background-image: url("data:image/svg+xml,%3Csvg width='694' height='394' viewBox='0 0 694 396' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 43.6495V387.6C2 391.135 4.8654 394 8.40002 394H640.654C642.169 394 643.634 393.463 644.79 392.484L689.736 354.417C691.172 353.201 692 351.415 692 349.533V8.4C692 4.86538 689.135 2 685.6 2H54.1785C52.766 2 51.3931 2.46731 50.2739 3.32909L4.4954 38.5785C2.9219 39.7901 2 41.6635 2 43.6495Z' fill='url(%23paint0_linear_367_794)' stroke='%230066FF' stroke-width='2.4'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_367_794' x1='347' y1='2' x2='347' y2='394' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237590EA' stop-opacity='0.4'/%3E%3Cstop offset='1' stop-color='%2300C1FE' stop-opacity='0.8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
}